/* 
COLOR PALETTE
Dark Purple: #390099
Maroon: #9E0059
Hot Pink: #FF0054
Orange: #FF5400
Yellow: #FFBD00
*/

/* OVERALL SETUP */

* {
    box-sizing: border-box;
}

html {
    /* scroll-snap-type: y proximity; */
}

body {
    font-family: 'Work Sans', sans-serif;
    color: white; 
    font-size: 11px;
    margin: 0;
    text-align: left;
}

/* DIVS AND SCROLLING */

.container {
    display: flex;
    flex-wrap: wrap;
}

.full-vh {
    /* height: 20em;
    height: 100vh; */
    scroll-snap-align: start;
    padding: 5% 20% 5% 20%;
}

.text {
    flex: 40%;
    align-self: center;
}

.vis {
    flex: 40%;
}

#landing{
    height: 20em;
    height: 100vh;
    background-color: #FF0054;
    background-image: url("./img/Ekin-Davide.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#intro {
    background-color: #FFBD00;
    color: #390099;
    /* background-image: url("./img/loveisland.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 70%; */
    display: flex;
}

.loveHeart {
    flex: 40;
    background-image: url("./img/loveisland.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 90% auto;
}


#ageRace{
    background-color: #390099 ;
}

#charts {
    display: flex;
    flex-wrap: wrap;
}

#charts svg {
    flex: 50%;
}

#region{
    background-color: #9E0059;
}

#profession{
    background-color: #FF5400;
}



/* OVERALL STYLES */

h1, h2, h3, h4 {
    font-family: 'Shrikhand', cursive;
}

h1{
    margin-top: 0;
    font-size: 3em;
}

h2 {
    display: inline-block;
    margin-right: 20px;
}

button {
    border: none;
    background-color: #FFBD00;
    font-family: inherit;
    color: #390099;
    border-radius: 8px;
    padding: 10px;
    margin-right: 5px;
}

button:hover {
    text-decoration: underline;
}

.select {
    display: inline-block;
}

.select :first-child {
    background-color: #FF0054;
    color: white;
}

.jobSelect {
    display: inline-block;
}

.jobSelect :first-child {
    background-color: #FF0054;
    color: white;
}

.nobuttons {
    display: block;
    flex: 100%;
}

.axisLabel {
    fill: white;
}

#jobChart {
    width: 100%;
}

#region {
    display: flex;
    flex-wrap: wrap;
}

.flourish-text {
    flex: 40%;
}

.flourish-map {
    margin: 0px;
    flex: 60%;
}

.jobaxisLabel {
    fill: white;
}

#conclusion{
    height: 100vh;
    background-color: #FFBD00;
    color: #390099;
    background-image: url("./img/KatieJosh.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.conclusion {
    flex: 60%;
}


@media only screen and (max-width: 990px) {

    #charts svg {
        flex: 100%;
    }

    .loveHeart {
        display: none;
    }

    .flourish-text {
        flex: 100%;
    }

    .flourish-map {
        flex: 100%;
    }

    #conclusion {
        height: auto;
    }

}

@media only screen and (max-width: 550px) {

#landing {
    background-position: center top;
}

.text {
    flex: 100%;
    text-align: center;
    align-self: flex-end;
}

button {
    font-size: 10px;
}

#conclusion {
    background-size: auto 70%;
    background-position: right bottom;
}

}
